<div class="text-center">
  <h4>Selecionando arquivo!</h4>
</div>

<%= form_with(scope: :upload_data, url: synchronize_portfolios_path) do |form| %>
  <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="row">
    <p class="form-text text-center">
      Clique <%= link_to 'Aqui', static_file_url, target: '_blank' %>
      para você ter acesso aos dados abertos da Câmara dos Deputados para importar!</p>
  </div>

  <div class="row align-items-center justify-content-center">
    <div class="col-auto d-flex flex-column align-items-center justify-content-center mb-3 mx-1">
      <%= form.file_field :data, required: true %>
      <div class="row form-text mt-4">Use `crtl + click` para desmarcar um item do filtro.</div>
      <div class="row form-text">Caso não forneça um filtro, será importado todos os Estados do arquivo!</div>
    </div>
    <div class="col-auto mb-3 mx-1">
      <%= form.label :filter, "Filtrar por Estados:", class: "form-label" %>
      <%=
        form.select(
          :filter,
          options_for_select(@select_by_allowed_states),
          {},
          { class: "form-select shadow-sm rounded-3 text-center", multiple: true, size: 5 }
        )
      %>
    </div>
  </div>


  <div class="text-center pb-3 pt-2">
    <%= form.submit "Importar", class: "btn btn-outline-dark border-0 rounded-3 shadow-sm" %>
  </div>

<% end %>
