<% if @portfolios.count.positive? %>
  <div class="row mb-3">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="fs-5">Ranking de Gastos Parlamentares</h5>
        <%= link_to 'Nova Importação', upload_data_portfolios_path, class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm mb-5 bg-body rounder border-0">
        <div class="card-body">
          <p>Resultado de: 2022 > PI</p>

          <br>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Deputado(a)</th>
                <th scope="col">Total de Despesas</th>
              </tr>
            </thead>
            <tbody>
              <% @portfolios.each_with_index do |portfolio, i| %>
                <tr>
                  <th scope="row"><%= "#{i.next}º" %></th>
                  <td><%= portfolio.member.name %></td>
                  <td><%= portfolio.expenses_amount.format %></td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h3> Importe o primeiro arquivo (.csv)!</h3>
  <%= turbo_frame_tag "upload_data" do %>
    <%= link_to 'Importe', upload_data_portfolios_path %>
  <% end %>
<% end %>
