<% if @portfolios.count.positive? %>
  <%= turbo_frame_tag :filter_field do %>
    <%= render partial: "import_button" %>

    <div class="row text-center">
      <h5>Rank de Despesas Públicas dos Parlamentares</h5>
    </div>

    <%= render partial: "form_filter" %>

    <div class="table-responsive">
      <div >
        <table class="table table-hover table-sm">
          <% group = @portfolios.first.node_group %>
          <caption><em>Lista dos Deputados do Estado <b><%= group.slug %></b>
            que mais realizaram despesas no Ano de <b><%= group.parent.slug %></b>.</em>
          </caption>

          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Deputado(a)</th>
              <th scope="col">CPF</th>
              <th scope="col">Total de Gastos</th>
            </tr>
          </thead>

          <tbody data-controller="portfolios">
            <% @portfolios.each do |portfolio| %>
              <tr data-action="click->portfolios#linkTo" data-portfolios-target="table" data-portfolios-url-param="<%= portfolio_path(portfolio.id) %>">
                <th scope="row"><%= "#{portfolio.position}º" %></th>
                <td><%= portfolio.member.name %></td>
                <td><%= portfolio.member.cpf_formatted %></td>
                <td><%= portfolio.expenses_amount.format %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
          </div>
      <div class="d-flex justify-content-center"><%= paginate @portfolios, window: 2 %></div>
    </div>
  <% end %>
<% else %>
  <%= turbo_frame_tag :upload_data do %>
    <div class="text-center">
      <h4 class="pt-4"> Importe um arquivo(.csv)!</h4>
      <%= link_to(
        'Selecionar Arquivo',
        upload_data_portfolios_path,
        class: "btn btn-outline-dark btn-sm m-4 shadow-sm border-0 rounded-3"
      ) %>
    </div>
  <% end %>
<% end %>
