<% if @portfolios.count.positive? %>
  <%= turbo_frame_tag :filter_field do %>
    <%= render partial: "import_button" %>

    <div class="row text-center">
      <h5>Rank de Despesas Públicas dos Parlamentares</h5>
    </div>

    <%= render partial: "form_filter" %>

    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <% group = @portfolios.first.node_group %>
        <caption><em>Lista dos Deputados do Estado <b><%= group.slug %></b>
          que mais realizaram despesas no Ano de <b><%= group.parent.slug %></b>.</em>
        </caption>

        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Deputado(a)</th>
            <th scope="col">Total de Gastos</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @portfolios.each_with_index do |portfolio, i| %>
            <tr>
              <th scope="row"><%= "#{i.next}º" %></th>
              <td><%= portfolio.member.name %></td>
              <td><%= portfolio.expenses_amount.format %></td>
              <td><%= link_to('Visualizar Portfolio', portfolio_path(portfolio),
                  class: "btn btn-outline-dark btn-sm border-0 shadow-sm rounded-3") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <%= turbo_frame_tag :upload_data do %>
    <div class="text-center">
      <h4 class="pt-4"> Importe um arquivo(.csv)!</h4>
      <%= link_to(
        'Selecionar Arquivo',
        upload_data_portfolios_path,
        class: "btn btn-outline-dark btn-sm m-4 shadow-sm border-0 rounded-3"
      ) %>
    </div>
  <% end %>
<% end %>
