<% if @portfolios.count.positive? %>
  <%= render partial: "form_filter" %>
  <div class="row mb-3">
    <div class="col-12">
      <div class="d-flex justify-content-end">
        <%= link_to 'Nova Importação', upload_data_portfolios_path, class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm mb-5 bg-body rounder border-0">
        <div class="card-body">
        <h5 class="fs-5">Ranking de Gastos Parlamentares</h5>
          <hr>
          <% if @result_year_group && @result_state_group %>
            <dt class="text-muted">Resultado da pesquisa: </dt>
            <ul>
              <li class="text-muted">Ano: <%= @result_year_group.slug %></li>
              <li class="text-muted">Estado: <%= @result_state_group.slug %></li>
            </ul>
          <% end %>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <td scope="col">Deputado(a)</td>
                <td scope="col">Total de Despesas</td>
                <td scope="col">Ações</td>
              </tr>
            </thead>
            <tbody>
              <% @portfolios.each_with_index do |portfolio, i| %>
                  <tr>
                    <th scope="row"><%= "#{i.next}º" %></th>
                    <td><%= portfolio.member.name %></td>
                    <td><%= portfolio.expenses_amount.format %></td>
                    <td><%= link_to 'Show', portfolio_path(portfolio) %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h3> Importe o primeiro arquivo (.csv)!</h3>
  <%= turbo_frame_tag "upload_data" do %>
    <%= link_to 'Importe', upload_data_portfolios_path %>
  <% end %>
<% end %>
