<!DOCTYPE html>
<html>
  <head>
    <title>EduTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-fluid my-4">
      <div class="row justify-content-center py-2">
        <div class="col-lg-10 col-md-11">
          <div class="card shadow-sm bg-body rounded-4 border-0">
            <div class="card-body">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
