<!DOCTYPE html>
<html>
  <head>
    <title>EduTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <form class="form-inline d-flex align-items-center justify-content-center">
        <div class="form-floating col-3 col-md-2 mx-2">
          <select class="form-select" id="floatingSelect" aria-label="Select year" >
            <option selected>2022</option>
            <option value="1">2021</option>
          </select>
          <label for="floatingSelect">Ano Eleição</label>
        </div>
        <div class="form-floating col-3 col-md-2 mx-2">
          <select class="form-select" id="floatingSelect" aria-label="Select state">
            <option selected>PI</option>
            <option value="1">SP</option>
          </select>
          <label for="floatingSelect">Estado</label>
        </div>
        <div class="m-3 d-flex">
          <button type="submit" class="btn btn-outline-primary my-1">Filtrar</button>
        </div>
      </form>
      <%= yield %>
    </div>
  </body>
</html>
